// 登陆注册盒子
.signBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .sign {
    font-size: 0.5vmin;
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    .header {
      cursor: pointer;
      color: #fff;
      background-color: #ccc;
      display: flex;
      .list {
        flex: 1;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        &:hover {
          background-color: blue;
        }
      }
      .active {
        background-color: blue;
      }
    }
    .content {
      min-height: 100px;
      width: auto;
      position: relative;
      overflow: hidden;
      font-size: 0.5vmin;
      .list {
        max-width: 300px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        transition: left .3s;
      }
      .active {
        left: 0;
      }
    }
  }  
}
